
.searchBarContainer {
    display: flex;
  justify-content: center; 
  align-items: center;     
  margin-top: 20px;
  }
  
  .inputGroup {
    width: 100%;
    max-width: 600px;
    max-height:50px; 
  }
  
  .formControl {
    flex: 1;
  }
  
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  