
body {
    margin: 0;
    font-family: 'Gotham', 'Source Sans Pro', sans-serif;
    background-color: white;
    color: #333;
    overflow-x:hidden;
}

*, *::before, *::after{
  box-sizing: content-box !important;
}
