.message-container {
    background-image: url('/Background.jpg');
    background-size: cover;
    background-position: center;
  }
.chat-image{
  background-image: url('/Background.jpg');
    background-size: cover;
    background-position: center;
}