.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.search-container {
    width: 100%;
    max-width: 35rem;
}

#button-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-result {
    margin-top: 1rem;
}
