/* frontend/styles/login.module.css */

/* Background styles */
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/DetailedLogo.png') no-repeat;
  background-position: right;
  margin-left: auto;
  background-size: auto 130%; /* Zoom out the image */
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
}

.loginBox {
  width: 80% !important;
  max-width: 25rem !important;
  padding: 20px;
  height: 50 rem !important;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0;
}

@media (max-width: 768px) {
  .loginBox {
    width: 90%;
    padding: 20px;
  }
}

.loginHeading {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.inputBox {
  position: relative;
  margin-bottom: 25px;
}

.inputBox input {
  width: 80%;
  max-width: 400px;
  padding: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #37bcfa;
  border-radius: 5px;
  outline: none;
  background: #f9f9f9;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.inputBox input:focus {
  border-color: #0288d1;
}

.inputBox label {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 14px;
  color: #575c5e;
  pointer-events: none;
  transition: 0.3s;
}

.inputBox {
  position: relative;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}

.passwordToggle:hover {
  color: #0056b3;
}

.homeButton {
}

.loadingIndicator {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 5px;
}

.spinner-border,
.spinner-grow {
  width: 1.5rem;
  height: 1.5rem;
}

button.loginButton {
  width: 30%;
  height: 40px;
  margin-top: 1rem;
  background: #03a9f4;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

button.loginButton:hover {
  background: #0288d1;
}

.error {
  color: red;
  margin: 1rem;
}

.homeButton {
  position: absolute;
  color: black;
  font-family: 'GothamBook';
  top: 20px;
  left: 100px;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.accountPrompt {
  font-size: 14px;
  color: #333333;
  margin-top: 1rem;
}

.createAccountLink {
  color: #007bff;
  cursor: pointer;
}

.createAccountLink:hover {
  text-decoration: underline;
  color: #1b6385;
}

@media (max-width: 576px) {
  .background {
    background-size: contain;
    background-position: right;
  }

  .loginBox {
    width: 90%;
    padding: 20px;
  }

  .homeButton {
    top: 15px;
    left: 40px;
    font-size: 14px;
  }
}
