body {
  margin: 0;
  font-family: 'Gotham';
  background-color: white;
  color: #333;
}
.background-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Place the background image behind other content */
}


.container-fluid{
  padding-left: 0px;
}
* {
  margin-left: 0px;
  margin-right: 0px;
  margin: 0px;
}

.navbar{
  background-color: rgb(245, 245, 245);
  z-index: 2;
}
.navbar-brand-custom {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.navbar-btn-custom {
  font-weight: bold;
  color: black;
  background-color: initial; 
  border: none;
}

.navbar-btn-custom:hover { 
  font-weight: bold;
  color: black;
  background-color: white;
  border: none;
}

.navbar-btn-custom:active { 
  font-weight: bold !important;
  color: black !important;
  background-color: white !important;
  border: none !important;
}
.navbar-toggler {
  width: 40px; /* adjust the width of the toggle button */
  height: 40px; /* adjust the height of the toggle button */
  padding: 0px; /* add some padding to the toggle button */
  font-size: 18px; /* adjust the font size of the toggle button */
}

.profile {
  position: absolute;
  font-size: 50%;
  margin-right: 00px;
  /* margin-left: 500px; */
  font-weight: bold;
}

.threads-content{
  align-self: left;
}

.navbar-brand-custom:hover {
  text-decoration: none;
}

.btn-custom {
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  margin-inline: 10px;
  font-family: 'Gotham';
  font-weight: bold;
}

.btn-profile {
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  font-size: 0.875rem;
  margin-inline: 10px;
}

.btn-custom-signup {
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  margin-inline: 10px;
  font-family: 'Gotham';
  font-weight: bold;
 
}

.btn-custom-signup:hover {
  background-color: white;
  color: blue;
}

.landing-container {
  display: flex;
  align-items: center;
  height: 70vh;
  margin-bottom: 10%;
  
}

.left-half {
  margin-top: 5%;
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
}

.right-half {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.landing-image {
  max-width: 100%;
  height: 100%;
  display: block;
  margin-top: 10%;
}

.big-text {
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.small-text {
  font-size: 1.10rem;
  margin-bottom: 1rem;
  color: aliceblue;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 1rem;
}


.buttons-container {
  display: flex;
  margin-bottom: 0.1rem;
}

.search_buttons {
  border-radius: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; 
  margin-bottom: 5%;
}

.carousel-container {
  width: 80%; 
  max-width: 1200px; 
}

.card-custom {
  width: 20rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 30px;
}

.card-custom .image-wrapper {
  padding: 15px; 
}

.card-custom .image-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px; 
}

.card-custom .card-body {
  flex-grow: 1;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between; 
  padding: 25px;
  height: 8.5rem; 

}


.card-custom .card-title {
  height: 20px;
}

.card-custom .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.heading {
  text-align: center;
  margin-bottom: 5%;
}

/* Communities page */

.search-bar-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  width: 100%;
  height: 100%;            /* Ensure it takes full height of its container */
  position: relative;      /* Ensure it respects the position of its container */
  z-index: 1;
}

.search-bar-container button {
  position: relative;
  z-index: 2;
  border-radius: 0.5rem;
  height: 1.3rem;
  right: -29.5rem;
  display: flex;

  
}

.community-search{
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1rem;

  }
.gradient-bar{
  position: absolute;
  width: 100%;
  height: 9rem;
  background: linear-gradient(90deg, #3D8BFD 0%, #290661);
}
.gradient-bar-container{
  position: relative;
  width: 100%;
  height: 9rem;
}
/* Listings */

.listings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 cards per row */
  gap: 3rem; /* Gap between cards */
  padding: 20px;
  margin: 0 10rem; /* Margin of 10rem on both sides */
  row-gap: 1rem; /* Gap between rows */
}

.listing-box {
  height: auto; /* Adjust height to auto */
  width: 100%; /* Ensure width fits the container */
  max-width: 300px; /* Set a max width for the cards */
  border: 10px solid #ffffff; /* Light border */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: transform 0.3s ease-in-out; /* Smooth hover transition */
  margin: 0 auto; /* Center card within its grid cell */
}

.listing-box:hover {
  transform: scale(1.02); /* Slightly enlarges on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24); /* Subtle shadow */
  background-color: #f8fcff;
  border: 10px solid #f8fcff; /* Light border */
}

.listing-image {
  height: 200px; /* Adjust image height */
  width: 100%; /* Ensure image fits the container width */
  object-fit: cover; /* Cover the container without distortion */
}

.card-title {
  font-size: 1.25rem; /* Adjust title size */
}

.icon {
  margin-right: 0.5rem; /* Space between icon and text */
}

.listing-address {
  font-size: 1rem;
  object-fit: contain;
}


.filter-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9); /* Less translucent background */
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000; /* Ensure it's above other content */
  max-width: 80vw;
  width: 600px; /* Adjust width as needed */
  max-height: 80vh; /* Adjust height as needed */
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.filter-popup-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.filter-popup-content {
  display: flex;
  flex-direction: column;
}

.filter-box-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
}


.upper-container{
  margin-left:100px;
  margin-top: 30px;
}

.row-listings{
  display: flex;
  flex-direction: row;
  margin-left:400px;
  margin-top: 30px;
}



.toggle-container {
  left: 35%;
  top: 20%;
  width: 100%;
  height: 30%;            /* Ensure it takes full height of its container */
  position: absolute;      /* Ensure it respects the position of its container */
  z-index: 3;
  
  
}
.toggle-button {
  width: 12rem;
  height: 3rem;
  margin: 0 -5px;
  border: none !important; 
  background-color: white;
  color: #444444;
  cursor: pointer;
  border-radius: 4rem;
  transition: background-color 0.6s, color 0.3s, border-radius 0.3s !important;
}

.toggle-button.active {
  background-color: #5890ff;
  color: aliceblue !important;
  border-radius: 4rem !important;
}

.toggle-button:hover {
  background-color: #6c9dff;
  color: aliceblue !important;
  border-radius: 1.35rem !important;
}


/* Threads */

.threads-container {
  border-radius: 20px;
  background-color: #20096d;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  max-width: 800px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  height: 800px;
}

.header-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between;
  margin-bottom: 16px;
}

.thread-add-button {
  padding: 6px;
  background-color: #20096d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.5s;
  margin-right: 16px; /* Add space between button and text */
}


.thread-add-button:hover {
  color: #60a0ff;
  transform: scale(1.06);
}

.thread-title {
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  color: #313131; /* Ensure text color is visible */
  margin-bottom: 0;
}

.box-title {
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff; /* Ensure text color is visible */
  margin-bottom: 0;
}




.threads-list {
  max-height: 4;
  padding: 1rem;
  max-width: 100%;
  background-color: #fafafa;
  overflow-y: auto;
  margin-bottom: 16px;
  border-radius: 20px;
}

.thread-item {
  margin-bottom: 5px;
  max-width: 710px;
  /* height: fit-content; */
  
}

/* Replies */

.replies-list {
  max-height: 600px;
  padding: 1rem;
  max-width: 100%;
  background-color: #fafafa;
  overflow-y: auto;
  margin-bottom: 16px;
  border-radius: 20px;
}

/* Replies */

.reply-box {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}


.reply-box:hover {
  border: 1px solid #6b6b6b;
  background-color: #ffffff;
}

.reply-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.username-posted {
  display: flex;
  flex-direction: column;
}

.username-posted strong {
  font-size: 1rem;
  color: #333;
}

.username-posted .text-muted {
  font-size: 0.8rem;
  color: #888;
}

.reply-box h4 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #3b3b3b;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #20096d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 30px;
  transition: all 0.4s;
}

button:hover {
  background-color: #4891ff;
  border-radius: 15px;
}

back-button {
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

back-button:hover {
  background-color: #3f506a;
  border-radius: 15px;
}


.thread-box {
  padding: 15px;
  width: fill;
  height: fit-content;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #ffffff;
  transition: all 0.2s ease;
  padding: 0px;
}

.thread-box:hover {
  padding: 1px;
  transform: scale(1.01);
  border: 1px solid #d4d3d3;
  border-radius: 25px;
  background-color: #f7f7f7;
  cursor: pointer;
}


.thread-description {
  font-size: 1.2rem;
  margin-bottom: 0px;
  display: flex;
  align-self: flex-start;
  font-weight: 400;
  color: #3b3b3b;
}

.thread-username{
  color: #323232;
  display: flex;
  align-self: top;
  padding: 0px;
  margin-top: 0.5rem;
  font-weight: 300;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease; /* Optional: for smooth transition */
}

.profile-pic:hover {
  width: 44px;
  height: 44px;
  cursor: pointer;
}


.thread-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}



/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}
.modal-content {
  background: white;
  border-color: #007bff;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-input,
.modal-textarea {
  width: 100%;
  border-radius: 5px;
  border-color: #686868;
  border-width: 0.01rem;
  margin-bottom: 10px;
}

.modal-textarea {
  height: 100px;
}

.modal-submit-button,
.modal-close-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding: .5rem;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.modal-submit-button {
  background-color: #007bff;
}

.modal-close-button {
  background-color: #6c757d;
}



/* Ensure clicking on modal content doesn't close it */
.modal-content {
  position: relative;
}



/* Optional: Additional responsiveness */
@media (max-width: 768px) {
  .listings-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Smaller columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .listings-list {
    grid-template-columns: 1fr; /* Single column on very small screens */
  }
}
/* Listings End */

/* Community Box */

.community-box {
  padding: 1rem;
  margin: 1rem; /* Add margin around each box */
  border: solid 1px #9c9c9c;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 254, 253);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.community-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(235, 243, 255);
}

.community-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.community-info {
  font-size: 1rem;
  margin: 0.25rem 0;
}
.community-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 0.25rem; /* Space between boxes */
  margin: 0.5rem 5rem; /* Margin for spacing around the grid */
}



.explore-button {
  width: 12rem;
  background: linear-gradient(90deg, #3D8BFD, #8671ff); /* Initial gradient background */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding inside the button */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: transform 0.9s ease-in-out, background 1.6s ease-in-out ; /* Transition effects */
}

.explore-button:hover {
  background: linear-gradient(150deg, #00088f, #290661); /* Changed gradient background on hover */
  transform: scale(1.03); /* Slightly larger on hover */
}


.navbar-text{
  font-family: 'Gotham';
  font-weight: 40px;
  color: black;
}

.navbar-nav{
  font-family: 'Gotham';
  font-weight: 30px;
  color: black;
}

.navbar-btn-custom{
  border-color: transparent;
}



@media (max-width: 1200px) {
  .community-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .community-list {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}



/* Tablets and small desktops */
@media (max-width: 992px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 5%;
  }

  .left-half, .right-half {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .landing-image {
    height: auto;
  }

  .big-text {
    font-size: 2rem;
  }

  .small-text {
    font-size: 1rem;
  }

  .carousel-container {
    width: 100%;
  }

  .card-custom {
    width: 100%;
  }

  .btn-custom {
    margin-bottom: 3%;
    
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  .left-half {
    width: 100%;
    padding: 1rem;
  }

  .right-half {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start; 
  }

  .landing-image {
    width: 100%; 
    height: auto;
    margin-top: 0;
  }

  .big-text {
    font-size: 1.5rem;
  }

  .small-text {
    font-size: 0.875rem;
  }

  .carousel-wrapper {
    margin-top: 2rem; 
  }

  .toggler {
    /* background-color: #333; */
    margin-top: 2rem;
  }
}
