

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #a3a3a3;
  border-radius: 15px;
  padding: 2rem;
  width: 70%;
  margin: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profileHeader h2 {
  margin-left: 10%;
  font-family: 'Gotham';
  font-weight: bold;
}

.headerLine {
  flex-grow: 1;
  height: 2px;
  background-color: #a3a3a3;
  margin-left: 10px;
}

.profilePicture {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profileImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  transition: all 0.4s;
}

.profileImgModal {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  transition: all 0.4s;
}

.profileImg:hover {
  opacity: 90%;
}

.profilePictureWrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.info{
  padding: auto;
  margin-left: 2rem;
}
.profilePictureOverlay {
  position: absolute;
  top: 0;
  border-radius: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profilePictureWrapper:hover .profilePictureOverlay {
  opacity: 1;
}

.profileDetails {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.detailBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-family: 'Gotham';
}

.detailBox label {
  font-weight: bold;
  margin-right: 10px;
}

.editIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #007bff;
  transition: all 0.2s;
}

.editIcon:hover {
  transform: scale(1.02);
  color: #003d7e;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.profileIcon {
  margin-right: 10px;
}

.cameraIcon {
  font-size: 2rem;
  color: #ffffff;
}

.profilePlaceholderIcon {
  font-size: 6rem;
  color: #a3a3a3;
}

.saveButton {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 15px;
  font-family: 'Gotham';
}

.customModal {
  padding: 2rem;
  display: flex !important;
  /* width: fit-content !important; */
  align-items: center !important;

}

.customModal .modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customModal .profileIcon {
  font-size: 24px;
  margin-right: 10px;
}

.customModal .close {
  cursor: pointer;
}

.modalBody .profilePictureWrapper {
  position: relative;
}

.modalBody .profileImgModal {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modalBody .profilePictureOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modalBody .profilePictureWrapper:hover .profilePictureOverlay {
  opacity: 1;
}

.cameraIcon {
  font-size: 24px;
  color: #fff;
}

.inputField {
  margin-bottom: 15px;
  width: fit-content;
}

.saveButton {
  width: 100%;
}

.close {
  padding: 2px;
}

.close:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.left {
  height: 500px;
}

.profileContentContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}

.profileListingsContent,
.profileThreadsContent {
  border: 1px solid #a3a3a3;
  width: 900px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.profileToggleContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.profileToggleButton {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 15px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-family: 'Gotham';
  transition: all 0.4s;
}
.profileToggleButton:hover{
  background-color: #97c9ff;
  /* color: white; */
  cursor: pointer;
}

.profileToggleButton.active {
  background-color: #007bff;
  transform: scale(1.01);
  color: #fff;
}

.cardGridWrapper {
  border: 1px solid #a3a3a3;
  width: 900px;
  height: 300px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow-y: auto;
}

.cardCustomProf {
  flex-direction: row;
}

.imageWrapperProf {
  width: 300px;
}

.profViewButton {
  color: #ffffff;
  background-color: #00088f;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  border: #007bff;
  transition: all 0.4s;
  margin-left: 5px;
}

.profCreateButton {
  color: #ffffff;
  background-color: #00088f;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  border: #007bff;
  transition: all 0.4s;
  margin-top: 20px;
}

.cardBodyWrapperProf {
  width: 500px;
  margin-right: 20px;
}

.textRightProf {
  display: flex;
  align-items: flex-end;
}

.threadBox{
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 1rem;

}

.community{
  font-size: 1rem;
  color: #007bff;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
}